@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans","Segoe UI",Tahoma,sans-serif;
  line-height: 1.5;
  background-image: url("media/noise-bg.png");
  background-size: 35%;
  background-color: rgba(17, 41, 52, 0.95);
  background-blend-mode: multiply;
}

li {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: #E1AA74;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
  color: var(--primary-color);
}

h5 {
  color: #94e344 ;
}

header {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  z-index: 11;
  
}

line {
  background-image: url("media/noise-bg.png");
  background-size: 30%;
}

/* FONT FAMILIES */
@font-face {
  font-family: m6x11;
  src: url(fonts/m6x11.ttf);
}

.navbar {
  height: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 2rem;
}

.link {
  color: rgb(193, 227, 68);
  box-shadow: inset 0 -6px rgba(193, 227, 68, 0.5);
  transition: 0.4s ease;
  font-size: 18px;
}

.link:hover {
  color: rgb(225, 170, 116);
  box-shadow: inset 0 -10px rgba(225, 170, 116, 0.5);
}

.enlarge {
  transition: 0.4s ease;
}

.enlarge:hover {
  transform: scale(1.15);
}

.navbar .toggle_btn {
  color: var(--primary-color);
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
}

.prev, .next {
  top: 45%;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 32px;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*/

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url('media/chicago.png') no-repeat center
    center/cover;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  z-index: 10;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	backdrop-filter: blur(15px);
	color: #fff;
	border-radius: 5px;
  transition: 0.6s ease;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(1.05);
}

#about {
  padding: 40px;
  text-align: center;
  position: absolute;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}

p {
  color: #e5e5e5;
}

#about h2 {
  margin: 30px 0;
  color: var(--primary-color);
}

.btm-curve {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-block;
}

.top-curve {
  position: absolute;
  width: 100%;
  display: inline-block;
}

.social a {
  margin: 0 5px;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  padding: 5% 10% 5% 2%;
}

.row {
  position: relative;
  
  flex-direction: column;
  
}

.flush-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-border {
  height: 50px;
  background-color: rgba(31, 72, 126, 0);
}