@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* FONT FAMILIES */
@font-face {
  font-family: m6x11;
  src: url(fonts/m6x11.ttf);
}

@font-face {
  font-family: ConcertOne-Regular;
    src: url('fonts/ConcertOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bungee-Regular;
    src: url('fonts/Bungee-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(17, 41, 52);
  background: rgb(193, 227, 68);
}

::selection {
  color: rgb(17, 41, 52);
  background: rgb(193, 227, 68);
}

:root {
	--primary-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans","Segoe UI",Tahoma,sans-serif;
  line-height: 1.5;
  background-image: url("media/noise-bg.png");
  background-size: 30%;
  background-color: rgba(25, 93, 125, 0.95);
  background-blend-mode: multiply;
}

li {
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: #E1AA74;
}

h1 {
  font-weight: 300;
  font-size: 100px;
  line-height: auto;
  margin-bottom: 15px;
  color: var(--primary-color);
}

h2 {
  color: #e5e5e5;
}

h3 {
  color: rgb(193, 227, 68);
  text-align: center;
  line-height: 1.2;
  margin: 0 0;
}

h4 {
  color: var(--primary-color);
  text-align: center;
  line-height: 1;
  margin: 0 0;
}

h5 {
  color: #55dde0;
  text-align: center;
  line-height: 1;
  margin: 0 0;
}

header {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  z-index: 11;
}

span {
  color: rgb(193, 227, 68);
  box-sizing: border-box;
  font-size: 12px;
}

line {
  background-image: url("media/noise-bg.png");
  background-size: 30%;
}

.navbar {
  height: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 2rem;
}

.link {
  color: rgb(193, 227, 68);
  box-shadow: inset 0 -6px rgba(193, 227, 68, 0.5);
  transition: 0.4s ease;
  font-size: 18px;
}

.link:hover {
  color: rgb(225, 170, 116);
  box-shadow: inset 0 -10px rgba(225, 170, 116, 0.5);
}

.enlarge {
  transition: 0.4s ease;
}

.enlarge:hover {
  transform: scale(1.15);
  font-size: 18px;
}

.date {
  color: rgb(193, 227, 68);
  font-family: "Segoe UI",Tahoma,sans-serif;
  font-size: 14px;
}

.navbar .toggle_btn {
  color: var(--primary-color);
  cursor: pointer;
  display: none;
}

.profileHeadline {
  font-size: 70px;
  border: 0;
  margin: 0;
  padding: 0 20px;
  font-family: Bungee-Regular;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.profileSubHeadline {
  font-size: 40px;
  color: var(--primary-color);
  vertical-align: text-top;
  font-family: Bungee-Regular;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.projectTitle {
  font-size: 18px;
  color: var(--primary-color);
  vertical-align: text-top;
  font-family: Bungee-Regular;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media(max-width: 1000) {
  
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
}

.prev, .next {
  top: 45%;
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 32px;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*/

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url('media/zachry_first_frame.png') no-repeat center
    center/cover;
}

.video-container .main-video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  z-index: 10;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	backdrop-filter: blur(15px);
	color: #fff;
	border-radius: 5px;
  transition: 0.6s ease;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(1.05);
}

#about {
  padding: 40px;
  text-align: center;
  position: absolute;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}

p {
  color: #e5e5e5;
  font-size: 16px;
  font-family: "Segoe UI",Tahoma,sans-serif;
  font-weight: 500;
}

#about h2 {
  margin: 30px 0;
  color: var(--primary-color);
}

.btm-curve {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-block;
}

.top-curve {
  position: absolute;
  width: 100%;
  display: inline-block;
}

.social a {
  margin: 0 5px;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  padding: 5% 10% 5% 2%;
}

.row {
  position: relative;
  
  flex-direction: column;
  
}

.flush-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.about-border {
  height: 50px;
  background-color: rgba(31, 72, 126, 0);
}

.experience-body {
  padding: 20px;
  margin: 0 auto;
  position: relative;
  width: 820px;
}

.skills-body {
  padding: 20px;
  margin: 0 auto;
  position: relative;
  width: 1280px;
}

.block {
  position:relative;
  width: 100%;
  background-color: rgba(17, 41, 52, 0.5);
  background-blend-mode: multiply;
  padding: 24px;
  clip-path: polygon(0 0,calc(100% - 20px) 0,100% 20px,100% 100%,20px 100%,0 calc(100% - 20px));
}

.logo {
  background-image: url(media/A&M\ White\ Logo.png);
  background-size: 94px 81px;
  border-radius: 10px;
  width: 94px;
  height: 81px;
  margin: 0 auto;
  transition: 0.4s ease;
  opacity: 1;
}

.logo:hover {
  background-image: url(media/A&M\ Maroon\ Logo.png);
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: multiply;
  scale: 1.05;
}

.footer {
  background-image: url("media/noise-bg.png");
  background-size: 30%;
  background-color: rgba(17, 41, 52, 0.95);
  background-blend-mode: multiply;
}

.footer-text {
  margin: 0 12px;
  opacity: .5;
  text-align: center;
  transition: .2s;
}

.footer-text:hover {
  opacity: 1;
}

.style-module--blog-footer--5p16d {
  background:rgba(28,28,28,.941);
  bottom:0;
  height:100px;
  position:fixed;
  width:100%;
  z-index:-1
}

.style-module--footer--MKY-D {
  background:rgba(28,28,28,.941);
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:24px 0 16px;
  width:100%;
}

.style-module--footer--MKY-D .style-module--text-holder--G4Mh6 {
  margin:0 12px;
  opacity:.3;
  text-align:center;
  transition:.2s;
}

.style-module--footer--MKY-D .style-module--text-holder--G4Mh6:hover {
  opacity:.9;
}

.style-module--text-holder--G4Mh6 {
  margin:0 12px;opacity:.3;
  text-align:center;
  transition:.2s;
}

.style-module--footer--MKY-D .style-module--text-holder--G4Mh6:hover {
  opacity:.9;
}

.skill-title-box {
  margin-left:4px;
  display: inline-block;
  width: 180px;
  height: 160px;
  background-image: url("media/noise-bg.png");
  background-size: 200%;
  background-blend-mode: multiply;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.9) inset, 0 -10px 15px rgba(0, 0, 0, 0.9) inset;
}

.skill-box {
  margin-left:8px;
  vertical-align: top; 
  display: inline-block;
  width: 130px;
  height: 160px;
  border: #fff;
  border-width: 2px;
  background-blend-mode: multiply;
  background-size: 100%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9) inset, 0 -20px 20px rgba(0, 0, 0, 0.9) inset;
  transition: 0.4s ease;
}

.skill-box:hover {
  scale: 1.05;
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

.link-logo {
  background-size: 32px 32px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.link-logo-lg {
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  margin: 0 auto;
}

.skill-logo {
  background-size: 96px 96px;
  padding-top: 8px;
  border-radius: 10px;
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.skill-python { background-color: #1581AAc0; background-image: url(media/skills/python_bw.png); }
.skill-python:hover { background-image: url(media/skills/python.png); background-color: rgba(255, 255, 255, 0); }
.skill-java { background-color: #1581AAc0; background-image: url(media/skills/java_bw.png); }
.skill-java:hover { background-image: url(media/skills/java.png); background-color: rgba(255, 255, 255, 0); }
.skill-c_plus_plus { background-color: #1581AAc0; background-image: url(media/skills/c_plus_pluss_bw.png); }
.skill-c_plus_plus:hover { background-image: url(media/skills/c_plus_pluss.png); background-color: rgba(255, 255, 255, 0); }
.skill-c_sharp { background-color: #1581AAc0; background-image: url(media/skills/c_sharp_bw.png); }
.skill-c_sharp:hover { background-image: url(media/skills/c_sharp.png); background-color: rgba(255, 255, 255, 0); }
.skill-html { background-color: #1581AAc0; background-image: url(media/skills/html_bw.png); }
.skill-html:hover { background-image: url(media/skills/html.png); background-color: rgba(255, 255, 255, 0); }
.skill-css { background-color: #1581AAc0; background-image: url(media/skills/css_bw.png); }
.skill-css:hover { background-image: url(media/skills/css.png); background-color: rgba(255, 255, 255, 0); }
.skill-javascript { background-color: #1581AAc0; background-image: url(media/skills/javascript_bw.png); }
.skill-javascript:hover { background-image: url(media/skills/javascript.png); background-color: rgba(255, 255, 255, 0); }

.skill-vs-code { background-color: #006B00c0; background-image: url(media/skills/vs_code_bw.png); }
.skill-vs-code:hover { background-image: url(media/skills/vs_code.png); background-color: rgba(255, 255, 255, 0); }
.skill-blender { background-color: #006B00c0; background-image: url(media/skills/blender_bw.png); }
.skill-blender:hover { background-image: url(media/skills/blender.png); background-color: rgba(255, 255, 255, 0); }
.skill-photoshop { background-color: #006B00c0; background-image: url(media/skills/photoshop_bw.png); }
.skill-photoshop:hover { background-image: url(media/skills/photoshop.png); background-color: rgba(255, 255, 255, 0); }
.skill-premiere { background-color: #006B00c0; background-image: url(media/skills/premiere_bw.png); }
.skill-premiere:hover { background-image: url(media/skills/premiere.png); background-color: rgba(255, 255, 255, 0); }
.skill-unity { background-color: #006B00c0; background-image: url(media/skills/unity_bw.png); }
.skill-unity:hover { background-image: url(media/skills/unity.png); background-color: rgba(255, 255, 255, 0); }
.skill-unreal { background-color: #006B00c0; background-image: url(media/skills/unreal_bw.png); }
.skill-unreal:hover { background-image: url(media/skills/unreal.png); background-color: rgba(255, 255, 255, 0); }
.skill-gamemaker { background-color: #006B00c0; background-image: url(media/skills/gamemaker_bw.png); }
.skill-gamemaker:hover { background-image: url(media/skills/gamemaker.png); background-color: rgba(255, 255, 255, 0); }

.skill-aws { background-color: #C24300c0; background-image: url(media/skills/aws_bw.png); }
.skill-aws:hover { background-image: url(media/skills/aws.png); background-color: rgba(255, 255, 255, 0); }
.skill-heroku { background-color: #C24300c0; background-image: url(media/skills/heroku_bw.png); }
.skill-heroku:hover { background-image: url(media/skills/heroku.png); background-color: rgba(255, 255, 255, 0); }

.skill-english { background-image: url(media/skills/english_bw.png); background-color: #FFC500c0; transition: 0.4s ease; }
.skill-english:hover { background-image: url(media/skills/english.png); background-color: rgba(255, 255, 255, 0); }
.skill-spanish { background-image: url(media/skills/spanish_bw.png); background-color: #FFC500c0; transition: 0.4s ease; }
.skill-spanish:hover { background-image: url(media/skills/spanish.png); background-color: rgba(255, 255, 255, 0); }
.skill-german { background-image: url(media/skills/german_bw.png); background-color: #FFC500c0; transition: 0.4s ease; }
.skill-german:hover { background-image: url(media/skills/german.png); background-color: rgba(255, 255, 255, 0); }

.skill-rating {
  line-height: 1.2rem;
  padding-top: 120px;
  text-align: center;
}

